.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.161133;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.084473;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.026855;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.104004;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.762695;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.914551;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.862793;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.898438;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:4.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._13{margin-left:-4.896000px;}
._12{margin-left:-3.852687px;}
._0{margin-left:-1.767125px;}
._1{width:1.516000px;}
._5{width:3.044144px;}
._d{width:4.761071px;}
._e{width:6.192978px;}
._2{width:7.440038px;}
._3{width:8.692873px;}
._4{width:9.747626px;}
._7{width:11.533238px;}
._8{width:12.710257px;}
._b{width:14.318210px;}
._9{width:17.055372px;}
._6{width:18.358302px;}
._a{width:22.756255px;}
._c{width:24.325075px;}
._f{width:25.431184px;}
._11{width:93.426676px;}
._10{width:94.594676px;}
.fc8{color:rgb(33,37,41);}
.fc7{color:rgb(70,120,134);}
.fc6{color:rgb(128,128,128);}
.fc5{color:rgb(16,72,98);}
.fc4{color:rgb(128,53,14);}
.fc1{color:rgb(102,51,0);}
.fc0{color:rgb(0,0,0);}
.fc2{color:rgb(172,111,0);}
.fc3{color:rgb(138,0,0);}
.fs9{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs8{font-size:60.000000px;}
.fs0{font-size:64.000000px;}
.fsb{font-size:66.000000px;}
.fs6{font-size:68.000000px;}
.fs3{font-size:72.000000px;}
.fsa{font-size:80.000000px;}
.fs7{font-size:96.000000px;}
.fsc{font-size:112.000000px;}
.fs1{font-size:128.000000px;}
.fs5{font-size:144.000000px;}
.fs2{font-size:160.000000px;}
.y0{bottom:0.000000px;}
.y90{bottom:28.081894px;}
.y12{bottom:30.010651px;}
.y7f{bottom:37.191460px;}
.y63{bottom:42.080948px;}
.y6e{bottom:46.043884px;}
.y11{bottom:46.810654px;}
.y8f{bottom:47.281876px;}
.y7e{bottom:53.991463px;}
.y24{bottom:56.177292px;}
.y62{bottom:60.080948px;}
.y6d{bottom:62.843884px;}
.y10{bottom:64.516380px;}
.y7d{bottom:70.791466px;}
.y3b{bottom:76.927444px;}
.y61{bottom:78.080948px;}
.y9{bottom:79.222885px;}
.y6c{bottom:79.643885px;}
.y8e{bottom:85.681839px;}
.y23{bottom:87.377274px;}
.y7c{bottom:87.591465px;}
.y54{bottom:90.941437px;}
.yf{bottom:91.210655px;}
.y60{bottom:96.080948px;}
.y3a{bottom:97.327438px;}
.y8{bottom:98.422882px;}
.y2d{bottom:98.444641px;}
.y7b{bottom:104.391464px;}
.y8d{bottom:104.881821px;}
.y22{bottom:106.577255px;}
.y53{bottom:107.741425px;}
.ye{bottom:114.010658px;}
.y5f{bottom:114.080948px;}
.y39{bottom:117.727448px;}
.y2c{bottom:120.044647px;}
.y7{bottom:123.622879px;}
.y52{bottom:124.541412px;}
.y21{bottom:125.777237px;}
.y7a{bottom:129.719465px;}
.yd{bottom:130.810661px;}
.y5e{bottom:132.080948px;}
.y38{bottom:138.127441px;}
.y51{bottom:141.341415px;}
.y2b{bottom:141.644653px;}
.y6{bottom:142.822884px;}
.y8c{bottom:143.281784px;}
.yc{bottom:148.516390px;}
.y20{bottom:156.977234px;}
.y50{bottom:158.141418px;}
.y37{bottom:158.527435px;}
.y5{bottom:162.022888px;}
.y5d{bottom:162.080948px;}
.y8b{bottom:162.481766px;}
.y2a{bottom:163.244659px;}
.y6b{bottom:166.081131px;}
.y4f{bottom:174.941422px;}
.y1f{bottom:176.177231px;}
.y5c{bottom:180.080948px;}
.y4{bottom:181.222893px;}
.y8a{bottom:181.681747px;}
.y6a{bottom:184.881134px;}
.y79{bottom:191.382927px;}
.y4e{bottom:191.741425px;}
.y1e{bottom:195.377228px;}
.y36{bottom:196.927429px;}
.y5b{bottom:198.080948px;}
.y43{bottom:198.941437px;}
.y29{bottom:202.844658px;}
.y69{bottom:204.133995px;}
.y3{bottom:206.422897px;}
.y4d{bottom:208.541428px;}
.y1d{bottom:214.577225px;}
.y42{bottom:215.741440px;}
.y5a{bottom:216.080948px;}
.y35{bottom:217.327423px;}
.y78{bottom:219.582924px;}
.y89{bottom:220.081741px;}
.y28{bottom:224.444656px;}
.y4c{bottom:225.341431px;}
.y68{bottom:228.428268px;}
.y2{bottom:231.622902px;}
.y41{bottom:232.558113px;}
.y59{bottom:234.080956px;}
.y34{bottom:237.727432px;}
.y77{bottom:238.782921px;}
.y88{bottom:239.281738px;}
.y4b{bottom:242.141434px;}
.y16{bottom:245.581139px;}
.y1c{bottom:245.777222px;}
.y27{bottom:246.044655px;}
.y1{bottom:250.822901px;}
.y67{bottom:251.281128px;}
.y4a{bottom:258.941429px;}
.y76{bottom:260.982918px;}
.y1b{bottom:264.977219px;}
.y58{bottom:266.147415px;}
.y40{bottom:266.158112px;}
.y15{bottom:267.181145px;}
.y66{bottom:270.081131px;}
.y49{bottom:275.741432px;}
.y33{bottom:276.127434px;}
.y87{bottom:277.681732px;}
.y75{bottom:283.182915px;}
.y26{bottom:285.644655px;}
.y65{bottom:286.881134px;}
.y48{bottom:292.541435px;}
.y1a{bottom:296.177223px;}
.y32{bottom:296.527435px;}
.y3f{bottom:299.758118px;}
.y74{bottom:305.382912px;}
.y64{bottom:306.133997px;}
.y47{bottom:310.268600px;}
.y14{bottom:310.381149px;}
.y57{bottom:314.254524px;}
.y19{bottom:315.377228px;}
.y86{bottom:316.081726px;}
.y3e{bottom:316.558117px;}
.y31{bottom:316.927437px;}
.y9a{bottom:328.945786px;}
.y46{bottom:330.941444px;}
.y13{bottom:331.981150px;}
.y56{bottom:331.981684px;}
.y73{bottom:332.582909px;}
.y3d{bottom:333.358118px;}
.y93{bottom:335.281708px;}
.y85{bottom:335.281723px;}
.y30{bottom:337.327436px;}
.y99{bottom:343.345779px;}
.y18{bottom:346.577232px;}
.y45{bottom:347.741447px;}
.y72{bottom:351.782906px;}
.y92{bottom:354.481712px;}
.y44{bottom:365.468607px;}
.y17{bottom:365.777231px;}
.y71{bottom:370.982903px;}
.y98{bottom:372.145767px;}
.y84{bottom:373.681725px;}
.y97{bottom:386.545761px;}
.y91{bottom:392.881721px;}
.y83{bottom:392.881729px;}
.y70{bottom:403.238901px;}
.y96{bottom:415.345764px;}
.y2f{bottom:415.851940px;}
.y82{bottom:431.300781px;}
.yb{bottom:433.771946px;}
.y25{bottom:437.566196px;}
.y95{bottom:444.145763px;}
.y81{bottom:450.500781px;}
.y2e{bottom:458.046185px;}
.y6f{bottom:467.614536px;}
.y55{bottom:471.091072px;}
.ya{bottom:479.760441px;}
.y94{bottom:480.030674px;}
.y3c{bottom:486.331772px;}
.y80{bottom:492.697443px;}
.h13{height:40.332031px;}
.h12{height:43.875000px;}
.he{height:44.437500px;}
.h10{height:46.093750px;}
.h11{height:47.534180px;}
.hb{height:50.039062px;}
.h5{height:51.843750px;}
.hf{height:54.843750px;}
.hd{height:55.546875px;}
.h4{height:57.023438px;}
.h15{height:57.187500px;}
.h1{height:59.250000px;}
.h9{height:62.953125px;}
.h6{height:64.335938px;}
.h8{height:66.656250px;}
.hc{height:85.781250px;}
.h14{height:100.078125px;}
.h2{height:108.437500px;}
.ha{height:114.375000px;}
.h7{height:121.992188px;}
.h3{height:135.546875px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x13{left:48.342834px;}
.x4{left:52.914276px;}
.x1{left:63.771423px;}
.x12{left:77.352631px;}
.xb{left:80.940323px;}
.x7{left:85.628510px;}
.x9{left:104.501190px;}
.x6{left:108.305676px;}
.x11{left:122.025299px;}
.xd{left:152.057159px;}
.xf{left:243.917297px;}
.x5{left:307.572876px;}
.x2{left:340.562469px;}
.xc{left:367.187485px;}
.xa{left:370.437378px;}
.x8{left:376.999985px;}
.x3{left:424.249969px;}
.x10{left:670.680115px;}
.xe{left:728.914307px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:5.333333pt;}
.ws0{word-spacing:0.000000pt;}
._13{margin-left:-6.528000pt;}
._12{margin-left:-5.136916pt;}
._0{margin-left:-2.356167pt;}
._1{width:2.021333pt;}
._5{width:4.058859pt;}
._d{width:6.348094pt;}
._e{width:8.257304pt;}
._2{width:9.920051pt;}
._3{width:11.590497pt;}
._4{width:12.996835pt;}
._7{width:15.377651pt;}
._8{width:16.947010pt;}
._b{width:19.090947pt;}
._9{width:22.740496pt;}
._6{width:24.477736pt;}
._a{width:30.341674pt;}
._c{width:32.433433pt;}
._f{width:33.908245pt;}
._11{width:124.568902pt;}
._10{width:126.126235pt;}
.fs9{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs8{font-size:80.000000pt;}
.fs0{font-size:85.333333pt;}
.fsb{font-size:88.000000pt;}
.fs6{font-size:90.666667pt;}
.fs3{font-size:96.000000pt;}
.fsa{font-size:106.666667pt;}
.fs7{font-size:128.000000pt;}
.fsc{font-size:149.333333pt;}
.fs1{font-size:170.666667pt;}
.fs5{font-size:192.000000pt;}
.fs2{font-size:213.333333pt;}
.y0{bottom:0.000000pt;}
.y90{bottom:37.442525pt;}
.y12{bottom:40.014201pt;}
.y7f{bottom:49.588613pt;}
.y63{bottom:56.107931pt;}
.y6e{bottom:61.391846pt;}
.y11{bottom:62.414205pt;}
.y8f{bottom:63.042501pt;}
.y7e{bottom:71.988617pt;}
.y24{bottom:74.903056pt;}
.y62{bottom:80.107931pt;}
.y6d{bottom:83.791845pt;}
.y10{bottom:86.021840pt;}
.y7d{bottom:94.388621pt;}
.y3b{bottom:102.569926pt;}
.y61{bottom:104.107931pt;}
.y9{bottom:105.630514pt;}
.y6c{bottom:106.191846pt;}
.y8e{bottom:114.242452pt;}
.y23{bottom:116.503031pt;}
.y7c{bottom:116.788620pt;}
.y54{bottom:121.255249pt;}
.yf{bottom:121.614207pt;}
.y60{bottom:128.107931pt;}
.y3a{bottom:129.769918pt;}
.y8{bottom:131.230509pt;}
.y2d{bottom:131.259521pt;}
.y7b{bottom:139.188619pt;}
.y8d{bottom:139.842428pt;}
.y22{bottom:142.103007pt;}
.y53{bottom:143.655233pt;}
.ye{bottom:152.014211pt;}
.y5f{bottom:152.107931pt;}
.y39{bottom:156.969930pt;}
.y2c{bottom:160.059530pt;}
.y7{bottom:164.830505pt;}
.y52{bottom:166.055216pt;}
.y21{bottom:167.702983pt;}
.y7a{bottom:172.959287pt;}
.yd{bottom:174.414215pt;}
.y5e{bottom:176.107931pt;}
.y38{bottom:184.169922pt;}
.y51{bottom:188.455221pt;}
.y2b{bottom:188.859538pt;}
.y6{bottom:190.430511pt;}
.y8c{bottom:191.042379pt;}
.yc{bottom:198.021853pt;}
.y20{bottom:209.302979pt;}
.y50{bottom:210.855225pt;}
.y37{bottom:211.369914pt;}
.y5{bottom:216.030518pt;}
.y5d{bottom:216.107931pt;}
.y8b{bottom:216.642354pt;}
.y2a{bottom:217.659546pt;}
.y6b{bottom:221.441508pt;}
.y4f{bottom:233.255229pt;}
.y1f{bottom:234.902974pt;}
.y5c{bottom:240.107931pt;}
.y4{bottom:241.630524pt;}
.y8a{bottom:242.242330pt;}
.y6a{bottom:246.508179pt;}
.y79{bottom:255.177236pt;}
.y4e{bottom:255.655233pt;}
.y1e{bottom:260.502970pt;}
.y36{bottom:262.569906pt;}
.y5b{bottom:264.107931pt;}
.y43{bottom:265.255249pt;}
.y29{bottom:270.459544pt;}
.y69{bottom:272.178660pt;}
.y3{bottom:275.230530pt;}
.y4d{bottom:278.055237pt;}
.y1d{bottom:286.102966pt;}
.y42{bottom:287.655253pt;}
.y5a{bottom:288.107931pt;}
.y35{bottom:289.769897pt;}
.y78{bottom:292.777232pt;}
.y89{bottom:293.442322pt;}
.y28{bottom:299.259542pt;}
.y4c{bottom:300.455241pt;}
.y68{bottom:304.571025pt;}
.y2{bottom:308.830536pt;}
.y41{bottom:310.077484pt;}
.y59{bottom:312.107941pt;}
.y34{bottom:316.969910pt;}
.y77{bottom:318.377228pt;}
.y88{bottom:319.042318pt;}
.y4b{bottom:322.855245pt;}
.y16{bottom:327.441518pt;}
.y1c{bottom:327.702962pt;}
.y27{bottom:328.059540pt;}
.y1{bottom:334.430534pt;}
.y67{bottom:335.041504pt;}
.y4a{bottom:345.255239pt;}
.y76{bottom:347.977224pt;}
.y1b{bottom:353.302958pt;}
.y58{bottom:354.863220pt;}
.y40{bottom:354.877482pt;}
.y15{bottom:356.241526pt;}
.y66{bottom:360.108175pt;}
.y49{bottom:367.655243pt;}
.y33{bottom:368.169912pt;}
.y87{bottom:370.242310pt;}
.y75{bottom:377.577220pt;}
.y26{bottom:380.859540pt;}
.y65{bottom:382.508179pt;}
.y48{bottom:390.055247pt;}
.y1a{bottom:394.902964pt;}
.y32{bottom:395.369914pt;}
.y3f{bottom:399.677490pt;}
.y74{bottom:407.177216pt;}
.y64{bottom:408.178663pt;}
.y47{bottom:413.691467pt;}
.y14{bottom:413.841532pt;}
.y57{bottom:419.006032pt;}
.y19{bottom:420.502970pt;}
.y86{bottom:421.442301pt;}
.y3e{bottom:422.077489pt;}
.y31{bottom:422.569916pt;}
.y9a{bottom:438.594381pt;}
.y46{bottom:441.255259pt;}
.y13{bottom:442.641533pt;}
.y56{bottom:442.642245pt;}
.y73{bottom:443.443878pt;}
.y3d{bottom:444.477491pt;}
.y93{bottom:447.042277pt;}
.y85{bottom:447.042297pt;}
.y30{bottom:449.769915pt;}
.y99{bottom:457.794373pt;}
.y18{bottom:462.102976pt;}
.y45{bottom:463.655263pt;}
.y72{bottom:469.043874pt;}
.y92{bottom:472.642283pt;}
.y44{bottom:487.291476pt;}
.y17{bottom:487.702975pt;}
.y71{bottom:494.643870pt;}
.y98{bottom:496.194356pt;}
.y84{bottom:498.242299pt;}
.y97{bottom:515.394348pt;}
.y91{bottom:523.842295pt;}
.y83{bottom:523.842306pt;}
.y70{bottom:537.651868pt;}
.y96{bottom:553.794352pt;}
.y2f{bottom:554.469254pt;}
.y82{bottom:575.067708pt;}
.yb{bottom:578.362595pt;}
.y25{bottom:583.421595pt;}
.y95{bottom:592.194351pt;}
.y81{bottom:600.667708pt;}
.y2e{bottom:610.728246pt;}
.y6f{bottom:623.486048pt;}
.y55{bottom:628.121429pt;}
.ya{bottom:639.680588pt;}
.y94{bottom:640.040899pt;}
.y3c{bottom:648.442362pt;}
.y80{bottom:656.929924pt;}
.h13{height:53.776042pt;}
.h12{height:58.500000pt;}
.he{height:59.250000pt;}
.h10{height:61.458333pt;}
.h11{height:63.378906pt;}
.hb{height:66.718750pt;}
.h5{height:69.125000pt;}
.hf{height:73.125000pt;}
.hd{height:74.062500pt;}
.h4{height:76.031250pt;}
.h15{height:76.250000pt;}
.h1{height:79.000000pt;}
.h9{height:83.937500pt;}
.h6{height:85.781250pt;}
.h8{height:88.875000pt;}
.hc{height:114.375000pt;}
.h14{height:133.437500pt;}
.h2{height:144.583333pt;}
.ha{height:152.500000pt;}
.h7{height:162.656250pt;}
.h3{height:180.729167pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x13{left:64.457113pt;}
.x4{left:70.552368pt;}
.x1{left:85.028564pt;}
.x12{left:103.136841pt;}
.xb{left:107.920431pt;}
.x7{left:114.171346pt;}
.x9{left:139.334920pt;}
.x6{left:144.407567pt;}
.x11{left:162.700399pt;}
.xd{left:202.742879pt;}
.xf{left:325.223063pt;}
.x5{left:410.097168pt;}
.x2{left:454.083293pt;}
.xc{left:489.583313pt;}
.xa{left:493.916504pt;}
.x8{left:502.666646pt;}
.x3{left:565.666626pt;}
.x10{left:894.240153pt;}
.xe{left:971.885742pt;}
}
